.bundle
db/*.sqlite3
db/*.sql
log/*.log
tmp/**/*
*.swp
*.swo
public/uploaded
private
public/stylesheets/
config/database.yml
.sass-cache
public/system
.DS_Store
*.cer
*.key
*.crt
/.rvmrc
tmp
copy_images.rb
.idea
coverage/
*.*~
tags
.rbenv-version
.ruby-version
*.iml
start_rails.sh
